
<!-- Bootstrap Modal -->
<div class="modal fade in" data-show="false" id="modalCustomerTransactionDialog" tabindex="-1" role="dialog" aria-labelledby="modalCustomerTransactionDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCustomerTransactionDialogLabel">Customer transaction</h4>
            </div>
            <div class="modal-body">
                <!-- Bootstrap form -->
                <form id="EditCustomerTransactionForm" class="form-horizontal">
                    <input type="hidden" id="CustomerTransactionID" value="" />
                    <div class="form-group">
                        <label for="TransactionDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="TransactionDate" placeholder="Transaction date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TransactionAmount" class="col-sm-3 control-label">Transaction amount</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="TransactionAmount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InvoiceDate" class="col-sm-3 control-label">Invoice date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="InvoiceDate" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IsFinalized" class="col-sm-3 control-label">Finalized</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-control" name="IsFinalized" disabled readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CustomerName" class="col-sm-3 control-label">Customer</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="CustomerName" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TransactionTypeName" class="col-sm-3 control-label">Transaction type</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="TransactionTypeID" name="TransactionTypeID" data-text="TransactionTypeName"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PaymentMethodID" class="col-sm-3 control-label">Payment method</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="PaymentMethodID" name="PaymentMethodID" data-text="PaymentMethodName">
                                <option value="null">N/A</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!-- End Bootstrap form -->
            </div>
            <div class="modal-footer">
                <button id="save-customer-transaction" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                <button id="cancel" type="reset" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap modal -->

