
<!-- Bootstrap Modal -->
<div class="modal fade" id="modalInvoiceDialog" tabindex="-1" role="dialog" aria-labelledby="modalInvoiceDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalInvoiceDialogLabel">Invoice</h4>
            </div>
            <div class="modal-body">

                <!-- Bootstrap form -->
                <form id="EditInvoiceForm" class="form-horizontal">
                    <input type="hidden" id="InvoiceID" value="" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">  <label for="InvoiceDate" class="col-sm-4 control-label">Invoice date</label>  <div class="col-sm-8">  <input type="date" class="form-control" name="InvoiceDate" placeholder="Invoice date">  </div>  </div>
                            <div class="form-group">  <label for="CustomerPurchaseOrderNumber" class="col-sm-4 control-label">Order number</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="CustomerPurchaseOrderNumber" placeholder="Customer purchase order number">  </div>  </div>
                            <div class="form-group">  <label for="CustomerName" class="col-sm-4 control-label">Customer</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="CustomerName" readonly>  </div>  </div>
                            <div class="form-group">  <label for="IsCreditNote" class="col-sm-4 control-label">Credit note</label>  <div class="col-sm-8">  <input type="checkbox" class="form-control" name="IsCreditNote" placeholder="Is credit note" value="true">  </div>  </div>
                            <div class="form-group">  <label for="TotalDryItems" class="col-sm-4 control-label">Dry items</label>  <div class="col-sm-8">  <input type="number" class="form-control" name="TotalDryItems" placeholder="Total dry items">  </div>  </div>
                            <div class="form-group">  <label for="TotalChillerItems" class="col-sm-4 control-label">Chiller items</label>  <div class="col-sm-8">  <input type="number" class="form-control" name="TotalChillerItems" placeholder="TotalChillerItems"> </div>  </div>
                            <div class="form-group">  <label for="DeliveryRun" class="col-sm-4 control-label">Delivery run</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="DeliveryRun" placeholder="Delivery run">  </div>  </div>
                            <div class="form-group">  <label for="RunPosition" class="col-sm-4 control-label">Run position</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="RunPosition" placeholder="Run position">  </div>  </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">  <label for="SalesPersonName" class="col-sm-4 control-label">Salesperson</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="SalesPersonName" readonly>  </div>  </div>
                            <div class="form-group">  <label for="SalesPersonEmail" class="col-sm-4 control-label">Email</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="SalesPersonEmail" readonly>  </div>  </div>
                            <div class="form-group">  <label for="ContactName" class="col-sm-4 control-label">Contact</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="ContactName" readonly>  </div>  </div>
                            <div class="form-group">  <label for="ContactPhone" class="col-sm-4 control-label">Contact phone</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="ContactPhone" readonly>  </div>  </div>
                            <div class="form-group">  <label for="ContactEmail" class="col-sm-4 control-label">Contact email</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="ContactEmail" readonly>  </div>  </div>
                            <div class="form-group">
                                <label for="DeliveryMethodID" class="col-sm-4 control-label">Delivery method</label>
                                <div class="col-sm-8">
                                <select class="form-control" id="DeliveryMethodID" name="DeliveryMethodID" data-text="DeliveryMethodName"></select>
                                </div>
                            </div>
                            <div class="form-group">  <label for="ConfirmedDeliveryTime" class="col-sm-4 control-label">Delivery time</label>  <div class="col-sm-8">  <input type="datetime" class="form-control" name="ConfirmedDeliveryTime" readonly>  </div>  </div>
                            <div class="form-group">  <label for="ConfirmedReceivedBy" class="col-sm-4 control-label">Received by</label>  <div class="col-sm-8">  <input type="text" class="form-control" name="ConfirmedReceivedBy" readonly>  </div>  </div>
                        </div>
                    </div>
                </form>
                <!-- End Bootstrap form -->

            </div>
            <div class="modal-footer">
                <button id="save-invoice" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                <button id="cancel-invoice-edit" type="reset" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap modal -->