
<!-- Bootstrap form -->
<form id="EditPurchaseOrderForm" class="form-horizontal">
    <input type="hidden" id="PurchaseOrderID" value="" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">  <label for="OrderDate" class="col-sm-3 control-label">Date</label>  <div class="col-sm-9">  <input type="date" class="form-control" name="OrderDate">  </div>  </div>
            <div class="form-group">  <label for="ExpectedDeliveryDate" class="col-sm-3 control-label">Expected delivery date</label>  <div class="col-sm-9">  <input type="date" class="form-control" name="ExpectedDeliveryDate">  </div>  </div>
            <div class="form-group">
                <label for="DeliveryMethodID" class="col-sm-3 control-label">Delivery method</label>
                <div class="col-sm-9">
                    <select class="form-control" id="DeliveryMethodID" name="DeliveryMethodID" data-text="DeliveryMethodName">
                        <option value="null">N/A</option>
                    </select>
                </div>
            </div>
            <div class="form-group">  <label for="SupplierReference" class="col-sm-3 control-label">Supplier reference</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="SupplierReference" placeholder="Supplier reference">  </div>  </div>
            <div class="form-group">
                <label for="IsOrderFinalized" class="col-sm-3 control-label">Finalized</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-control" name="IsOrderFinalized" value="true">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">  <label for="ContactName" class="col-sm-3 control-label">Contact</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="ContactName" readonly>  </div>  </div>
            <div class="form-group">  <label for="ContactPhone" class="col-sm-3 control-label">Contact phone</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="ContactPhone" readonly>  </div>  </div>
            <div class="form-group">  <label for="ContactFax" class="col-sm-3 control-label">Contact fax</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="ContactFax" readonly>  </div>  </div>
            <div class="form-group">  <label for="ContactEmail" class="col-sm-3 control-label">Contact email</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="ContactEmail" readonly>  </div>  </div>
        </div>
    </div>
</form>
<!-- End Bootstrap form -->
<div class="pull-right form-group">
    <button id="cancel" type="button" class="btn btn-link pull-right" data-dismiss="modal">Cancel</button>
    <button id="save" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
</div>


    <h3>Order lines</h3>
    <table id="orderLines" class="table table-striped table-bordered" style="width:100%" cellspacing="0">
        <thead>
            <tr>
                <th>Description</th>
                <th>Ordered</th>
                <th>Expected price</th>
                <th>Received</th>
                <th>Product</th>
                <th>Is finalized</th>
                <th>Package type</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>