<!-- Bootstrap Modal -->
<div class="modal fade" id="modalStockItemDialog" tabindex="-1" role="dialog" aria-labelledby="modalStockItemDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalStockItemDialogLabel">Stock item details</h4>
            </div>
            <div class="modal-body">

                <!-- Bootstrap form -->
                <form id="EditStockItemForm" class="form-horizontal">
                    <input type="hidden" id="StockItemID" value="" />
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="StockItemName" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="StockItemName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SupplierName" class="col-sm-3 control-label">Supplier</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="SupplierName" placeholder="Supplier" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ColorID" class="col-sm-3 control-label">Color</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="ColorID" name="ColorID" data-text="ColorName"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UnitPackageID" class="col-sm-3 control-label">Unit package</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="UnitPackageID" name="UnitPackageID" data-key="PackageTypeID" data-text="PackageTypeName"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="OuterPackageID" class="col-sm-3 control-label">Outer package</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="OuterPackageID" name="OuterPackageID" data-key="PackageTypeID" data-text="PackageTypeName"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Brand" class="col-sm-3 control-label">Brand</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Brand" placeholder="Brand">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Size" class="col-sm-3 control-label">Size</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Size" placeholder="Size">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="LeadTimeDays" class="col-sm-3 control-label">Lead time days</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="LeadTimeDays" placeholder="Lead time (days)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="QuantityPerOuter" class="col-sm-3 control-label">Quantity per outer</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="QuantityPerOuter" placeholder="Quantity per outer">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        
                            <div class="form-group">
                                <label for="IsChillerStock" class="col-sm-3 control-label">Is chiller</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-control" name="IsChillerStock" placeholder="Is chiller stock?" value="true">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Barcode" class="col-sm-3 control-label">Barcode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Barcode" placeholder="Barcode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TaxRate" class="col-sm-3 control-label">Tax rate</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" name="TaxRate" placeholder="Tax rate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UnitPrice" class="col-sm-3 control-label">Unit price</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" name="UnitPrice" placeholder="Unit price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="RecommendedRetailPrice" class="col-sm-3 control-label">Recommended retail price</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" name="RecommendedRetailPrice" placeholder="Recommended retail price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TypicalWeightPerUnit" class="col-sm-3 control-label">Weight/unit</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" name="TypicalWeightPerUnit" placeholder="Typical weight per unit">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MarketingComments" class="col-sm-3 control-label">Marketing comments</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="MarketingComments" placeholder="Marketing comments">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InternalComments" class="col-sm-3 control-label">Internal comments</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="InternalComments" placeholder="Internal comments">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End Bootstrap form -->
            </div>
            <div class="modal-footer">
                <button id="save-stock-item" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                <button id="cancel-stock-item-edit" type="reset" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap modal -->