<!-- Bootstrap Modal -->
<div class="modal fade" id="modalSupplierTransactionDialog" tabindex="-1" role="dialog" aria-labelledby="modalSupplierTransactionDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalSupplierTransactionDialogLabel">Supplier transaction</h4>
            </div>
            <div class="modal-body">
                <!-- Bootstrap form -->
                <form id="EditSupplierTransactionForm" class="form-horizontal">
                    <input type="hidden" id="SupplierTransactionID" value="" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TransactionDate" class="col-sm-4 control-label">Date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="TransactionDate" placeholder="Transaction date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AmountExcludingTax" class="col-sm-4 control-label">Amount (no tax)</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="AmountExcludingTax">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TaxAmount" class="col-sm-4 control-label">Tax amount</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="TaxAmount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TransactionAmount" class="col-sm-4 control-label">Transaction amount</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="TransactionAmount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="OutstandingBalance" class="col-sm-4 control-label">Outstanding balance</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="OutstandingBalance">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="SupplierName" class="col-sm-4 control-label">Supplier</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="SupplierName" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="TransactionTypeID" class="col-sm-4 control-label">Transaction type</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="TransactionTypeID" name="TransactionTypeID" data-text="TransactionTypeName">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PaymentMethodID" class="col-sm-4 control-label">Payment method</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="PaymentMethodID" name="PaymentMethodID" data-text="PaymentMethodName">
                                        <option value="null">N/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="FinalizationDate" class="col-sm-4 control-label">Finalization date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="FinalizationDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IsFinalized" class="col-sm-4 control-label">Finalized</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" class="form-control" name="IsFinalized" value="true" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End Bootstrap form -->
            </div>
            <div class="modal-footer">
                <button id="save-supplier-transaction" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                <button id="cancel-supplier-transaction-edit" type="reset" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap modal -->