<link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/lib/jquery-ui/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/lib/jquery-ui/jquery-ui.theme.css" rel="stylesheet" />
<!-- JQuery slider for temporal -->
<div class="panel panel-default">
    <div class="panel-heading">Time travel</div>
    <div class="panel-body row">
        <div class="col-md-10">
            <div id="slider">
            </div>
        </div>
        <div class="col-md-2">
            <input id="snapshot" type="date" class="form-control" value='@DateTime.Now.ToString("yyyy-MM-dd")'>
        </div>
    </div>
</div>
<!-- End JQuery slider for temporal -->