@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>If you find any issue or if you have suggestions you can contact SQL Server Github Samples team via email or using GitHub issue tracker.</p>
<p>You can also fork the project add some enhancements and send us <a href="https://github.com/Microsoft/sql-server-samples/pulls">Pull request</a>.</p>
<address>
    <strong>Questions:</strong> <a href="mailto:jovanpop@microsoft.com">Jovan Popovic (MSFT)</a>, <a href="mailto:sqlserversamples@microsoft.com">SqlServer GitHub Admin group</a>, <br />
    <strong>Report problem:</strong> <a href="https://github.com/Microsoft/sql-server-samples/issues">SQL Server Samples GitHub</a>
</address>
