@{
    ViewData["Title"] = "Countries";
}

<div class="clearfix">
    <h1 class="pull-left">Countries</h1>
    <button id="add" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalDialog">
        <span class="glyphicon glyphicon-plus"></span> Add
    </button>
</div>
@await Html.PartialAsync("_TemporalSlider")
<table id="countries" class="table table-striped table-bordered temporal" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Area</th>
            <th>Region</th>
            <th>Continent</th>
            <th>Population</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Bootstrap Modal -->
<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDialogLabel">Country Details</h4>
            </div>
            <div class="modal-body">

                <!-- Bootstrap form -->
                <form id="EditForm">
                    <input type="hidden" id="CountryID" value="" />
                    <div class="form-group">
                        <label for="CountryName">Name</label>
                        <input type="text" class="form-control" name="CountryName" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <label for="FormalName">Formal name</label>
                        <input type="text" class="form-control" name="FormalName" placeholder="Formal name">
                    </div>
                    <div class="form-group">
                        <label for="Subregion">Area</label>
                        <input type="text" class="form-control" name="Subregion" placeholder="Area">
                    </div>
                    <div class="form-group">
                        <label for="Region">Region</label>
                        <select class="form-control" name="Region">
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Americas">Americas</option>
                            <option value="Europe">Europe</option>
                            <option value="Oceania">Oceania</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Continent">Continent</label>
                        <select class="form-control" name="Continent">
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="North America">North America</option>
                            <option value="Europe">Europe</option>
                            <option value="South America">South America</option>
                            <option value="Oceania">Oceania</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="LatestRecordedPopulation" class="field-label">Population</label>
                        <input type="number" id="LatestRecordedPopulation" name="LatestRecordedPopulation" class="form-control">
                    </div>
                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

                </form>
                <!-- End Bootstrap form -->

            </div>
            <div class="modal-footer">
                <button id="save" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                <button id="cancel" type="reset" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap modal -->

@section Scripts {
    <script src="~/js/Countries.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/_TimeTravel.js"></script>
}