@{
    ViewData["Title"] = "Customer transactions";
}

<h1>Customer transactions</h1>
@await Html.PartialAsync("_CustomerTransactionsTable")
@await Html.PartialAsync("_CustomerTransactionsForm")

@section Scripts {
    <script src="~/js/CustomerTransactions.Table.js"></script>
    <script src="~/js/CustomerTransactions.Edit.js"></script>
}