@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div id="part4" class="col-md-12">
        <h2>Daily sales in <strong>@User.Claims.FirstOrDefault(c => c.Type == "Territory").Value</strong> region</h2>
        <svg style="height:200px"> </svg>
    </div>
</div>
<div class="row">
    <div id="part1" class="col-md-4">
        <h2>Top customer cities</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Number of customers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bind-PostalCity">Belgrade</td>
                    <td class="bind-Total">382</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id='part2' class="col-md-4">
        <h2>Sales per color</h2>
        <svg style="height:300px"> </svg>
    </div>
    <div id="part3" class="col-md-4">
        <h2>Expected income per color</h2>
        <svg style="height:300px"> </svg>
    </div>
</div>
@section Scripts {
    <link href="~/lib/nvd3/nv.d3.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="~/lib/nvd3/nv.d3.js"></script>
    <script src="~/js/Dashboard.js"></script>

}