@{
    ViewData["Title"] = "Deals";
}
<h1>Deals</h1>
<table id="deals" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Discount</th>
            <th>Unit price</th>
            <th>Buying group</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Bootstrap Modal -->
<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDialogLabel">Special deal</h4>
            </div>
            <div class="modal-body">

                <!-- Bootstrap form -->
                <form id="EditForm" class="form-horizontal">
                    <input type="hidden" id="SpecialDealID" value="" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">  <label for="DealDescription" class="col-sm-3 control-label">Description</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="DealDescription" placeholder="DealDescription">  </div>  </div>
                            <div class="form-group">  <label for="StartDate" class="col-sm-3 control-label">Start date</label>  <div class="col-sm-9">  <input type="date" class="form-control" name="StartDate" placeholder="Start date">  </div>  </div>
                            <div class="form-group">  <label for="EndDate" class="col-sm-3 control-label">End date</label>  <div class="col-sm-9">  <input type="date" class="form-control" name="EndDate" placeholder="End date">  </div>  </div>
                            <div class="form-group">  <label for="DiscountAmount" class="col-sm-3 control-label">Discount</label>  <div class="col-sm-9">  <input type="number" class="form-control" name="DiscountAmount" placeholder="Discount amount">  </div>  </div>
                            <div class="form-group">  <label for="DiscountPercentage" class="col-sm-3 control-label">Discount%</label>  <div class="col-sm-9">  <input type="number" class="form-control" name="DiscountPercentage" placeholder="Discount percentage">  </div>  </div>
                            <div class="form-group">  <label for="UnitPrice" class="col-sm-3 control-label">Unit price</label>  <div class="col-sm-9">  <input type="number" class="form-control" name="UnitPrice" placeholder="N/A">  </div>  </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">  <label for="StockItemName" class="col-sm-3 control-label">Stock item</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="StockItemName" placeholder="N/A" readonly>  </div>  </div>
                            <div class="form-group">  <label for="Brand" class="col-sm-3 control-label">Brand</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="Brand" placeholder="N/A" readonly>  </div>  </div>
                            <div class="form-group">  <label for="Size" class="col-sm-3 control-label">Size</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="Size" placeholder="N/A" readonly>  </div>  </div>
                            <div class="form-group">  <label for="CustomerName" class="col-sm-3 control-label">Customer</label>  <div class="col-sm-9">  <input type="text" class="form-control" name="CustomerName" placeholder="N/A" readonly>  </div>  </div>
                            <div class="form-group">
                                <label for="BuyingGroupID" class="col-sm-3 control-label">Buying group</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="BuyingGroupID" name="BuyingGroupID" data-text="BuyingGroupName">
                                        <option value="null">N/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="CustomerCategoryID" class="col-sm-3 control-label">Category</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="CustomerCategoryID" name="CustomerCategoryID" data-text="CustomerCategoryName">
                                        <option value="null">N/A</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Allow form submission with keyboard without duplicating the dialog button -->
                            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                        </div>
                      </div>
                </form>
                <!-- End Bootstrap form -->

            </div>
            <div class="modal-footer">
                <button id="save" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                <button id="cancel" type="reset" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap modal -->

@section Scripts {
    <script src="~/js/Deals.js"></script>
}