@{
    ViewData["Title"] = "Invoices";
}

<h1>Invoices</h1>
@await Html.PartialAsync("_InvoicesTable")
@await Html.PartialAsync("_InvoicesForm")

@section Scripts {
    <script src="~/js/Invoices.Table.js"></script>
    <script src="~/js/Invoices.Edit.js"></script>
}