@{
    ViewData["Title"] = "Purchase orders";
}

<div class="row order-list">
    <h1>Purchase orders</h1>
    @await Html.PartialAsync("_PurchaseOrdersTable")
</div>

<div class="row order-edit hidden">
    <h1>Order details</h1>
    @await Html.PartialAsync("_PurchaseOrdersEdit")
</div>

@section Scripts {
    <script src="~/js/PurchaseOrders.Table.js"></script>
    <script src="~/js/PurchaseOrders.Edit.js"></script>
    <script src="~/js/PurchaseOrders.js"></script>
}
