@{
    ViewData["Title"] = "Sales orders";
}

<div class="row order-list">
    <h1>Sales orders</h1>
    @await Html.PartialAsync("_SalesOrdersTable")
</div>
<div class="row order-edit hidden">
    <h1>Sales order details</h1>
    @await Html.PartialAsync("_SalesOrdersForm")
</div>
<div class="row order-edit hidden">
    <h2>Order lines</h2>
    @await Html.PartialAsync("_SalesOrderLinesTable")
</div>
@section Scripts {
    <script src="~/js/SalesOrders.js"></script>
    <script src="~/js/SalesOrders.Table.js"></script>
    <script src="~/js/SalesOrders.Edit.js"></script>
}


