@{
    ViewData["Title"] = "Stock items";
}
<h1>Stock items</h1>
@await Html.PartialAsync("_TemporalSlider")
<div class="row">
    @await Html.PartialAsync("_StockItemsTable")
    @await Html.PartialAsync("_StockItemsForm")
</div>
@section Scripts {

    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/StockItems.js"></script>
    <script src="~/js/StockItems.Table.js"></script>
    <script src="~/js/_TimeTravel.js"></script>
    <script src="~/js/StockItems.Edit.js"></script>
}
