@{
    ViewData["Title"] = "Supplier transaction";
}

<h1>Supplier transactions</h1>
@await Html.PartialAsync("_SupplierTransactionsTable")
@await Html.PartialAsync("_SupplierTransactionsForm")

@section Scripts {
    <script src="~/js/SupplierTransactions.Table.js"></script>
    <script src="~/js/SupplierTransactions.Edit.js"></script>
}

