@{
    ViewBag.Title = "Home Page";
}

@section telemetryScripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @Scripts.Render("~/bundles/telemetryCharting")
    @Scripts.Render("~/bundles/telemetryClient")
}

<h1>Contoso Control Center</h1>

<div class="row">
    <div class="col-md-9">
        <h2>Pool</h2>
        <div>Update interval: 5 minutes</div>
        <div>Latency of New Records in Table: ~25 minutes</div>
        <div>Source: sys.elastic_pool_resource_stats</div>
        <div>Last Update: <span id="pool_time"></span></div>
        <div id="pool_linechart"></div>
        
    </div>
    <div class="col-md-3">
        <h2>Latest Pool Metrics</h2>
        <div id="latest_pool"></div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Selected Databases</h2>
        <div>Update interval: 15 seconds</div>
        <div>Source: sys.dm_db_resource_stats</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="db1_gauge"></div>
        <div id="db1_label">db1</div>
        <div>Last Update: <span id="db1_time"></span></div>
        <div><span id="db1_eDTU"></span> eDTU</div>
    </div>
    <div class="col-md-3">
        <div id="db2_gauge"></div>
        <div id="db2_label">db2</div>
        <div>Last Update: <span id="db2_time"></span></div>
        <div><span id="db2_eDTU"></span> eDTU</div>
    </div>
    <div class="col-md-3">
        <div id="db3_gauge"></div>
        <div id="db3_label">db3</div>
        <div>Last Update: <span id="db3_time"></span></div>
        <div><span id="db3_eDTU"></span> eDTU</div>
    </div>
    <div class="col-md-3">
        <div id="db4_gauge"></div>
        <div id="db4_label">db4</div>
        <div>Last Update: <span id="db4_time"></span></div>
        <div><span id="db4_eDTU"></span> eDTU</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>All Databases</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div>Update interval: 5 minutes</div>
        <div>Latency of New Records in Table: ~20 minutes</div>
        <div>Last Update: <span id="all_databases_time"></span></div>
        <div>Source: sys.resource_stats</div>
        <div style="height:500px; overflow:auto"><div id="all_databases"></div></div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="divStatus"></div>
    </div>
</div>